body {
    background-color: #f0f8ff;
}


.container {
    text-align: left;
    background-color: #fff;
    border-radius: 10px; 
    color: #616c7a;
    margin-top: 30px;
    padding: 30px;
}

header {
    font-family: 'Kosugi Maru', sans-serif;
    text-align: left;
    background-color: #96b2d1;
    border-radius: 10px; 
    margin: 20px;
    padding: 0 20px;
    color: #fff;

    
}



div.margin {
    margin: 5px;
}